<div class="col-xs-12">

  <div class="secondary">

 <h4 style="margin-left: 10px; font-size:14px;">Kindly Click on the button below to fill your Contact form</h4>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLScFQsOqCn2PODtQ43nErMdqLXc7J7gy5eHKAnLT_OWdXu9y0A/viewform?embedded=true"> <button class="btn btn-success butt">Click Here</button> </a>

          <!--JSS1  -->
    <div class="table-responsive">  
             
        <h2>Jss 1</h2> 
        <h3>Subject:  Civic Education</h3>      
        <table class="table table-hover" >
          <thead>
            <tr>
              <th>Week</th>
              <th>Topic</th>
              
              <th class="table-bordered">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>National consciousness and identity</td>
              
            </tr>

            <tr>
              <td>2</td>
              <td>National symbols and their meanings 
            </td>
           
            </tr>
            <tr>
                <td>3</td>
                <td> National symbols
              </td>
              </tr>
              <tr>
                <td>4</td>
                <td> Measures adopted by the Nigerian government 

              </td>
              </tr>
               
              <tr>
                <td>5</td>
                <td> How individual and groups can promote national unity
              </td>
              </tr>
              <tr>
                <td>6</td>
                <td> Nigerian constitution 
              </td>
              </tr>
              <tr>
                <td>7</td>
                <td> Revision and Examination

              </td>
              </tr>
          </tbody>
        </table>

        <h3>Subject: English Class work</h3> 
        <ol>
          <li>Ade’s careless driving resulted ___ a fatal accident (a) in (b) at (c) to (d) onto</li>
          <li>Sade takes ____ her mother in many ways (a) by (b) on (c) up (d) after 
          </li>
          <li>Alaba goes to school ____ foot (a) by (b) on (c) from (d) with
          </li>
          <li>The doctor advised him to abstain ___ sex (a) by (b) for (c) from (d) onto</li>

          <li>The relationship ___ Melam and Cante is cordial. (a) of (b) with (c) among (d) between</li>
          
        </ol>     
        
              <!-- JSS 2 -->
        <h2>Jss 2</h2>


        <h3>Subject: English Classwork</h3>          
        <p style="padding: 7px;">The herds of animal rearers were usually large and the herders drove the cattle to wherever they would get food and also trade in the products. In places where the occupation was well established, the supply of cattle was usually high.
          One feature which distinguished animal rearers from others was their nomadic nature. They move from place to place in search of pasture and water. It was mainly the scarcity of pasture for animals that always kept them on the move in search of greener pastures. Except in full migrations where the pastoralists moved to a new area, the movement, usually from their homes in the Sahara margins to the Savannah, and up to areas below the Niger.
          </p>
          <ol>
            <li>The reason why cattle rearers move is to (a) search for Yoruba farms (b) search for pasture (c) exercise the animals (d) tour the country</li>
            <li>One thing others but animal rearers do is (a) become nomads (b) own large herds (c) buy food stuffs                  (d) repel diseases
            </li>
            <li>When pastoralists move to a new area, it is called (a) pasture (b) margin (c) full migration (d) Savannah</li>
            <li>Nomads are usually on the move in search of (a) water (b) market (c) black market (d) greener pasture
            </li>
            <li>The passage is all about (a) Fulani herdsmen (b) Greener pastures (c) migrations (d) cattle rearers</li>
          </ol>

          <h3>Subject:  Civic Education</h3>      
          <table class="table table-hover" >
            <thead>
              <tr>
                <th>Week</th>
                <th>Topic</th>
                
                <th class="table-bordered">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Election and vote responsibility
                </td>
                
              </tr>
  
              <tr>
                <td>2</td>
                <td>Election and vote responsibility
              </td>
             
              </tr>
              <tr>
                  <td>3</td>
                  <td>Qualification for election
                </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td> Electoral Malpractices </td>
                </tr>
                 
                <tr>
                  <td>5</td>
                  <td> Electoral Malpractices
                  </td>
                </tr>
  
                <tr>
                  <td>6</td>
                  <td> Nigerian constitution 
  
                </td>
                </tr>
                <tr>
                  <td>7</td>
                  <td> Solution to electoral Malpractices 
  
                </td>
                </tr>

                <tr>
                  <td>8</td>
                  <td>	Held work Excursion </td>
                </tr>
                <tr>
                  <td>10</td>
                  <td> Revision and examination
                </td>
                </tr>
            </tbody>
          </table>

                <!-- Jss3 -->
        <h2>Jss 3</h2>
        <h3>Subject: Mathematics</h3>  
        <p> <strong>To be submited before 2pm On Sunday</strong> </p> 
        
        <ol>
          <li>Write 243.912 to the nearest whole number.  (a) 244  (b) 240  (c) 243  (d) 200
          </li>
          <li>In the expansion of (2a – 5b)2, the coefficient of ab is ____.  (a) 20  (b) 10  (c) -20  (d) -10
          </li>
          <li>The diagram below is a cone of radius 8cm and height 10cm. The diameter of the base is.  (a) 6cm  (b) 12cm  (c) 16cm  (d) 18cm</li>
          <li>Multiply 11012 by 112.  (a) 1100112  (b) 1011002  (c) 1010112  (d) 1001112
          </li>
          <li>A sales girl earns N5000 per week. Each \week she spends N3x on food, N2x on rent and saves the rest. How much does she save in a week?  (a) N5000  (b) N(95000 – 3x)  (c) N(5000 – 2x)  (d) N(5000 – 5x)]

          </li>
          <li>Find the next term in the sequence 2, 5, 9, 14, 20, ….  (a) 27  (b) 26  (c) 25  (d) 24
          </li>
          <li>Find the vale of   121/4.  (a) 3.25  (b) 3.50  (c) 3.75  (d) 4.00

          </li>
          <li>	A crate of eggs contains 30 eggs, n of them are broken. How many eggs remain?  (a) (30 – n) eggs  (b) (30 + n) eggs  (c) (n – 30) eggs  (d) 30n eggs.
          </li>
          <li>A box has a square base of side 9cm, calculate the volume\me of the box if it is 10cm high.  (a) 810cm3  (b) 90cm3  (c) 81cm3  (d) 27cm3

          </li>
          <li>Express 32% as a fraction.  (a) 2/25  (b) 4/25  (c) 6/25  (d) 8/25

          </li>
          <li>Factorize: 2x2 + 7x + 6.  (a) (2x + 3)(x + 2)  (b) (2x-3)(x-2)  (c) (2x+3)(x-2)  (d) (2x-3)(x+2)
          </li>
          <li> How many seconds are there in a week? (a) 604800 secs  (b) 614800 secs  (c) 624800 secs  (d) 634800 secs.</li>
          <li>1kg of flour costs N80.00, calculate the number of kg in a bag of flour if the bag is sold for N4000.00  (a) 500kg  (b) 250kg  (c) 125kg  (d) 50kg</li>
          <li>Solve for g if  5q – 21/14  = 1.  (a) 35  (b) 14  (c) 7  (d) 0
            
        </li>
          <li>Calculate the value of 4/5 x 157 – 4/5 x 87.  (a) 76  (b) 70  (c) 65  (d) 56
          </li>
          <li>An airport runway measuring 400m is drawn to a scale of 1cm to represent 100m. Find its length in the drawing.  (a) 5.5m  (b) 4.5m  (c) 4.0m  (d) 3.5m
          </li>
          </ol>


          <h3>Subject: Basic Science	</h3>  
          <p> <strong>To be submited before 2pm On Sunday</strong> </p> 
        <ol>
          <li>The nutrient gotten from protein after digestion is ___.  (a) Amino acid (b) citric acid (c) fatty acid (d) glucose.

          </li>
          <li>The process of preparing food with the use of carbon dioxide and water in the presence of sunlight and chlorophyll is called ___.  (a) respiration  (b) photosynthesis  (d) nutrition  (d) digestion
          </li>
          <li>The main nutrient found in maize plant is ____.  (a) protein  (b) fiber  (c) fat and oil  (d) carbohydrates
          </li>
          <li>All these are microscopic organisms except ___.  (a) spider  (b) bacteria  (c) fungi  (*d) virus
          </li>
          <li>River blindness is carried by a vector (insect) called ___.  (a)_ mosquito  (b) Tse Tse fly  (c) black fly  (d) white fly
          </li>
          <li>Children under five (5) years are immunized against diseases except ____.  (a) tuberculosis  (b) measles  (c) diphtheria  (d) kwashiorkor

          </li>
          <li>Drugs can be used for ____ and ____ purposes.  (a) medical, recreational  (b) utility, recreation  (c) medical, utility  (d) defense, acceptability

          </li>
          <li>	Example of non-metals include these except.  (a) iodine  (b) nitrogen  (c) oxygen  (d) sodium

          </li>
          <li>The genotype “Tt” shows that ___.  (a) Shortness dominate tallness (b) tallness is partially 

          </li>
          <li>Calculate the amount of a force required to move a body of mass 50kg and cover a distance of 2m.  (a) 0.4N  (b) 4N  (c) 25N  (d) 100N

          </li>
          <li>A natural object that revolves round the earth or moon in space is called ___.  (a) sun  (b) satellite  (c) galaxy  (d) constellation

          </li>
          <li> The parts of the body that are responsible for movement are ___, ___ and joint.  (a) bone, muscle  (b)_ bone, cartilage  (c) cartilage, muscle  (d) skeleton, cartilage
          </li>
          <li>The main source of energy supply comes from the.  (a) stars  (b) moon  (c) sun  (d) food
          </li>
          <li>All of these are breathing problems EXCEPT.  (a) Leukemia  (b) Asthma  (c) Hay fever  (d) Silicosis
            
        </li>
          <li>At puberty in girls, the following changes take place EXCEPT?  (a) the voice cracks and become deeper  (b) hair grows under the armpit and private part  (c) the hip becomes more pronounced  (d) the Ova are released one at a time.
          </li>
         
          </ol>
          <h3>Subject:  Basic Technology </h3>  
         
            <p> <strong>To be submited before 2pm On Sunday</strong> </p>  
    
        
          <ol>
            <li>The full meaning of ICT is ____. (a) Information and Communication Technology (b) Information and Communication Transmission (c) Information Control Technology (d) Information and Communication Terminal

  
            </li>
            <li>An eight sided polygon is known as (a) decagon (b) nonagon (c) octagon (d) hexagon
            </li>
            <li>A device used to intercept electrical signal from radio signal is known as (a) transmission (b) antenna (c) amplifier (d) radio receiver
            </li>
            <li>Who determines the amount of materials required to erect a building? (a) contractor (b) engineer (c) architect (d) quantity surveyor
            </li>
            <li>First aid is a means of (a) administering drugs to patients (b) resuscitating a sick victim before doctors attention (c) assisting a sick victim to see victim (d) giving injection to a sick patient

            </li>
            <li>The process of removing roots of trees and herbs from a building site is called (a) grubbing (b) setting out (c) site preparation (d) excavation
  
            </li>
            <li>Hacksaw is a tool used for cutting _____ (a) wood (b) plastic (c) ceramics (d) metal 
  
            </li>
            <li>	Thin continuos lines are used for the following except _____ (a) projection (b) construction (c) dimension (d) outline 
            </li>
            <li>A good example of the use of belt drive is …… (a) bicycle  (b) motorcycle  (c) printing machine (d) grinding machine 
            </li>
            <li>An angle greater than 900 but less than 1800  is called ….. (a) acute angle  (b) reflex angle  (c) obtuse angle  (d) complimentary angle 
            </li>
            <li>Which of the following is not a form of energy (a) Mechanical energy  (b) work  energy  (c) nuclear energy (d) chemical energy 
  
            </li>
            <li> E – Mail means …… (a) electronic mail  (b) Eternet mail  (c) Electricity mail (d) English mail 

            </li>
            <li>The topping of water in a radiator is a type of maintenance known as (a) corrective  (b) periodic  (c) predictive  (d) preventive 
            </li>
            <li>All of these are breathing problems EXCEPT.  (a) Leukemia  (b) Asthma  (c) Hay fever  (d) Silicosis
              
          </li>
            <li>The vertical sides of the window or door is known as (a) beam (b) lintel (c) pillar (d) jamb
            </li>
           
            </ol>
        <h3>Subject: Civic Education</h3>      
        <table class="table table-hover" >
          <thead>
            <tr>
              <th>Week</th>
              <th>Topic</th>
              
              <th class="table-bordered">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Election; Meaning and types
              </td>
              
            </tr>

            <tr>
              <td>2</td>
              <td>Importance of election
            </td>
           
            </tr>
            <tr>
                <td>3</td>
                <td> Electoral Bodies in Nigeria; INEC, SIEC, Composition and roles

              </td>
              </tr>
              <tr>
                <td>4</td>
                <td> Free fare elections: Meaning and importance


              </td>
              </tr>
               
              <tr>
                <td>5</td>
                <td>Electoral Malpractices in Nigeria: Meaning forms and causes 


              </td>
              </tr>

              <tr>
                <td>6</td>
                <td> Ways of preventing electoral malpractices in Nigeria 

              </td>
              </tr>

              <tr>
                <td>7</td>
                <td> 	Democratic process: voting, Voters registration, process of voting, importance of voting


              </td>
              </tr>
              

          </tbody>
        </table>

       
                  <!-- SS1 -->
        <h2>SS1</h2>
        <h3>Subject:  Biology		</h3>  
        <strong>
          <p>To be submited before 12pm On Sunday</p>  
        </strong> 
        <ol>
          <li>Outline the five(5) materials needed for photosynthesis to take place</li>
          <li>List and explain any three (3) types of association stating one example each 
          </li>
          <li>State two (2) functions each of the following health organizations
            <ul>
              <li>UNICEF</li>
              <li>WHO</li>
              <li>RED CROSS SICIETY</li>
            </ul>
          </li>
          <li>Define pollution and state the four (4) types </li>
          <li>state 4 factors affecting population </li>
         
        </ol>


        <h3>Subject: Computer	</h3>  
        <strong>
          <p>To be submited before 12pm On Sunday</p>  
        </strong> 
        <ol>
          <li>Critically explain ICT.
          </li>
          <li> Itemize four (4) characteristics of a computer.
          </li>
          <li>Explain the following concepts:
            <ul>
              <li>Computer desktop</li>
              <li>Window desktop
              </li>
              <li>Icon</li>
              <li>Word processing
              </li>
            </ul>
          </li>
          <li>Define pollution and state the four (4) types </li>
          <li>state 4 factors affecting population </li>
         
        </ol>


        <h3>Subject:  Mathematics		</h3>  
        <strong>
          <p>To be submited before 12pm On Sunday</p>  
        </strong> 
        <ol>
          <li>If 5p-3 = 8 x 5-2, find the value of p.  (a) 8/125  (b) 2/5  (c) 8/5  (d) 5/2
          </li>
          <li> Evaluate 3y2 – 5y – 6 when y -2.  (a) -8  (b) -16n  (c) 8  (d) 16
          </li>
          <li>If  P =  X – Y, then, in terms of P and Y, X is:  (a)  √p – y   (b) p2 + y   (c) √p2 + y   (d) p2 – y2 </li>
          <li>If sin A = 4/5, then tan A is:  (a) 2/5  (b) 3/5  (c) ¾  (d) 4/3
          </li>
          <li>Convert 3510 to a number in base 2.  (a) 1011  (b) 10011  (c) 100011  (d) 11001.
          </li>
          <li>What is the lowest value of x2 + 2x – 2?  (a) -4  (b) -3  (c) -2  (d) -1</li>
          <li>In 1995, the enrollments of two schools X and Y were 1050 and 1190 respectively. Find the ratio of the enrollments of X and Y.  (a) 50:11  (b) 15:17  (c) 13:55  (d) 12:11</li>
          <li>A rectangle is five times as long as it is wide. If its area is 180cm2, then the length of the rectangle is:  (a) 6cm  (b) 12cm  (c) 15cm  (d) 30cm</li>
          <li></li>
          <li>Simplify (75/8 – 11/2)  (43/4 + 47/8).</li>
          <li> (b) Evaluate ab  cˆ2 + bˆ2, given that a = 2, b = -3, c = 4</li>
         
        </ol>
        


        <h3>Subject: ECONOMICS		</h3>  
        <p>SCHEME OF WORK</p>        
        <table class="table table-hover" >
          <thead>
            <tr>
              <th>Week</th>
              <th>Topic</th>
              
              <th class="table-bordered">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td> DISTRIBUTIVE TRADE
              </td>
              <td> Meaning
                Chain of Distribution.
                Process of Distribution
                Wholesalers (Functions to Producers and Retailers).
                Retailers (Functions to Wholesaler and Customers).
                </td>
              
            </tr>

            <tr>
              <td>2</td>
              <td>MIDDLEMEN
            </td>

            <td> Argument For or Against the Elimination of Middlemen
              Problems of Product Distribution in Nigeria
              Ways of Improving the System of Distribution of Consumer Goods in West Africa.
              Roles of Government Agencies in Product Distribution</td>
              
            </tr>
            <tr>
                <td>3</td>
                <td>MONEY </td>
                <td>Definition of money and its origin
                  Trade by Barter system and its deficiencies
                  Kinds / Types of Money
                  Characteristics of Money
                  Functions of Money
                  </td>
               
              </tr>
              
              <tr>
                <td>4</td>
                <td>FINANCIAL INSTITUTIONS  </td>
                <td>Meaning of Financial Institutions
                  Types of Financial Institution
                  Commercial Banks
                  Meaning of Commercial Banks
                  Characteristics of Commercial Banks</td>
                
              </tr>
             
              <tr>
                <td>5</td>
                <td>CONCEPT OF DEMAND AND SUPPLY
                  DEMAND</td>

                  <td>Meaning of Demand
                    Law of Demand
                    Schedule and Curve
                    Types of Demand
                    Factors Affecting Demand</td>
                
              </tr>

              <tr>
                <td>6</td>
                <td>SUPPLY
                </td>
                <td>Meaning of Supply
                  Law of Supply
                  Schedule and Curve
                  Types of Supply
                  Factors Affecting Supply</td>
              </tr>

              <tr>
                <td>7</td>
                <td>EQUILIBRIUM PRICE/PRICE DETERMINATION
                </td>
                
              </tr>

              <tr>
                <td>8</td>
                <td> THE NATURE OF THE NIGERIAN ECONOMY
                </td>
                
              </tr>

              <tr>
                <td>9</td>
                <td> AGRICULTURE
                </td>

                <td>Meaning of Agriculture
                  Components/Structures
                  Systems of Agriculture
                  Contributions to the Economy</td>
                
              </tr>

              <tr>
                <td>10</td>
                <td> MINING
                </td>
                <td>Meaning
                  Components of the Nigerian Mining Industry
                  Minerals (Types, Uses and Locations)
                  </td>
              </tr>

              <tr>
                <td>11</td>
                <td> Revision
                </td>
                
              </tr>

             

          </tbody>
        </table>

        <h3>Subject: PHYSICS   </h3>  
        <p>SCHEME OF WORK</p>        
        <table class="table table-hover" >
          <thead>
            <tr>
              <th>Week</th>
              <th>Topic</th>
              
              <th class="table-bordered">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Electric Circuit (DC).
              </td>
              
            </tr>

            <tr>
              <td>2</td>
              <td>Resistors and Cells in Series and Parallel.

            </td>
              
            </tr>
            <tr>
                <td>3</td>
                <td>Electrical Energy and Power
                </td>
               
              </tr>
              
              <tr>
                <td>4</td>
                <td>Safety Device – Fuse</td>
                
              </tr>
             
              <tr>
                <td>5</td>
                <td>Atomic Structure, Diffusion and Osmosis</td>
                
              </tr>

              <tr>
                <td>6</td>
                <td>Crystal Structure of Matter – Amorphous and Crystalline Substances</td>
                
              </tr>

              <tr>
                <td>7</td>
                <td>Surface Tension</td>
                
              </tr>

              <tr>
                <td>8</td>
                <td>Capillarity</td>
                
              </tr>

              <tr>
                <td>9</td>
                <td>Elasticity</td>
                
              </tr>

              <tr>
                <td>10</td>
                <td>Energy Stored in an Elastic Material
                </td>
                
              </tr>

              <tr>
                <td>11</td>
                <td>Revision
                </td>
                
              </tr>

              
          </tbody>
        </table>
        

       
       

        <h2>SS2</h2>
        <h3>Subject: COMPUTER		</h3>  
          <strong>
            <p>To be submited before 12pm On Saturday</p>  
          </strong>  
        
        <ol>
            <li> Critically explain system development cycle.
              <ul>
                <li> Enumerate any four (4) stages involved in system development cycle.</li>
                <li> Define Algorithms.</li>
                <li> What are the four (4) characteristics of Algorithms?</li>
              </ul>
            </li>
            <li> Explain the Internet.</li>
            <li>Outline three (3) differences between main memory and a register.
            </li>
           
        </ol>



        <h3>Subject:  Biology		</h3>  
        <strong>
          <p>To be submited before 1pm On Sunday</p>  
        </strong> 
        <ol>
          <li>Define the term “CELL”</li>
          <li>State the cell theory

          </li>
          <li>Define  the term Virus 
            <ul>
              <li>Types of Virus</li>
            </ul>
          </li>
          <li>Differentiate between osmosis and diffusion stating one example</li>
          <li>What is cellular respiration?  </li>

          <li>Define the term “ transportation system”

            <ul>
              <li>State 3 importance of transportation in mammals </li>
            </ul>
          </li>
         
        </ol>


        <h3>Subject:  Chemistry	</h3>  
        <strong>
          <p>To be submited before 1pm On Sunday</p>  
        </strong> 
        <ol>
          <li> Mention two (2) types of hard water.
          </li>
          <li>Mention and explain the five (5) types of salt.


          </li>
          <li> 	Explain the following:  
            <ul>
              <li> Homologous series  </li>
              <li>Addition reaction.</li>
              <li> Substitution reaction  </li>
            </ul>
          </li>
          <li>Differentiate between osmosis and diffusion stating one example</li>
          <li> List and explain the six (6) stages of purification of municipal water.  </li>
          <li>Mention three (3) uses of a named alkane.</li>
          <li>	What is the IUPAC name of these compounds?
          
            <ul>
              <li>
                <p>
                (1)    - C – C – C – C – C –	   (2)   	- C – C – C -
          
                            - C - Cl – C - 			           - C –
   
                </p>
                  
                 </li>
            </ul>
          </li>
         
        </ol>


      
        
        <h3>Subject:  Economics</h3>  
        <strong>
          <p>To be submited before 1pm On Sunday</p>  
        </strong> 
        <ol>
          <li>Explain two (2) motives for holding money.
          </li>
          <li>Describe any two (2) types of price control with a diagram.   </li>
          <li> What is mobility of labour?</li>
          <li> Give and explain two (2) types of mobility of labour.
          </li>
          <li> Explain briefly the following terms:
  
            <ul>
              <li> Budget  </li>
              <li>National debt
              </li>
              <li> Price control
              </li>
              <li>National debt</li>
            </ul>
          </li>
          
          </ol>
    </div>

    <h3>Subject: SS2 Maths Class work</h3>  
        
        <ol>
          <li>Find the vale of   121/4.  (a) 3.25  (b) 3.50  (c) 3.75  (d) 4.00
          </li>
          <li>The circular diagram in which all the element have angular representation is called ___.  (a) bar chart  (b) pie chart  (c) pictogram  (d) histogram</li>
          <li>Convert 75.67665 to 2 d.p.  (a) 75.00  9b) 75.67  (c) 75.68  (d) 76.00</li>
          <li>If 3/2 + x/3 = 11/6, find x.  (a) 4  (b) 3  (c) 2  (d) -1
          </li>
          <li>If 3m + n = 5 and 2m – n = 5, find the value of 3m – 4n + 1.  (a) 3  (b) 6  (c) 9  (d) 11
          </li>
          <li>____ is represented of statistical data in the form of pictures.  (a) bar chart  (b) histogram  (c) pie chart  (d) pictogram
          </li>
          <li>The distance measured round an object is called ___.  (a) radius  (b)_ perimeter  (c) diameter  (d) length
          </li>
          <li>	A crate of eggs contains 30 eggs, n of them are broken. How many eggs remain?  (a) (30 – n) eggs  (b) (30 + n) eggs  (c) (n – 30) eggs  (d) 30n eggs.
          </li>
          <li>The length of an equivalent triangle is x cm and its perimeter is 27cm. find x.  (a) 3cm  (b) 9cm  (c) 18cm  (d) 27cm
          </li>
          <li>Find the positive difference between the product of 78 and 36 and their sum.  (a) 2922  (b) 2894  (c) 2794  (d) 2694
          </li>
          <li>Factorize: 2x2 + 7x + 6.  (a) (2x + 3)(x + 2)  (b) (2x-3)(x-2)  (c) (2x+3)(x-2)  (d) (2x-3)(x+2)
          </li>
          <li>If 3564 becomes 3600, which method of approximation is used?  (a) 1 s.f  (b) 2 s.f  (c) 3 s.f  (d) 4 s.fr</li>
          <li>1kg of flour costs N80.00, calculate the number of kg in a bag of flour if the bag is sold for N4000.00  (a) 500kg  (b) 250kg  (c) 125kg  (d) 50kg</li>
          <li>Find the coefficient of x in the expansion of (x-2)(x+3)  (a) 1  (b) 2  (c) 3  (d)( 5</li>
          <li>Calculate the value of 4/5 x 157 – 4/5 x 87.  (a) 76  (b) 70  (c) 65  (d) 56
          </li>
          <li>Simplify 28axy3  7xy2.  (a) 4xy  (b) 4axy  (c) 4ax  (d) 4ay
          </li>
          <li>Which of the following is true of a cube?  (a) it has 8 faces  (b) it has 6 vertices  (c) it has 4 circles  (d) it has 12 edges
          </li>
          
          <li>Simplify: (45) – (+14).  (a) 9  (b) 19  (c) -9  (d) -19
          </li>
          <li>If 3 is added to three quarters of a certain number, the results is 30. Find the original number.  (a) 27  (b) 30  (c) 36  (d)  44
          </li>
          <li>	A box has a square base of side 9cm, calculate the volume\me of the box if it is 10cm high.  (a) 810cm3  (b) 90cm3  (c) 81cm3  (d) 27cm3</li>
        </ol>
        
  </div>
 
</div>


