<div class="col-xs-12">

  <div class="secondary">
<img src="assets/sec.jpg" alt="" class="img">

          <!--JSS1  -->
    <div class="table-responsive">  
             
        <h2>Jss 1</h2> 
        <h3>Subject: Civic Education</h3>  
        <p>From the options A-D, choose the one that correctly answers the Question</p>    
        
        <ol>
          <li>___ is the actual worth of a thing.  (a) honesty  (b) value  (c) integrity  (d) trust
          </li>
          <li>Attributes of honesty are the following expects.  (a) integrity (b) boldness (c) honor (d) dishonesty
          </li>
          <li>Working together of people to achieve a common goal is called ___
          </li>
          <li>	Consequences of dishonesty are as follows except ___.  (a) punishment (b) shame (c) neglect (d) honesty</li>

          <li>One of the attributes of cooperation is ___.  (a) sharing (b) disagreement  (c) disobedience  (d) sleeping
          </li>
            <li>One of the factors that promote goal value system is ___.  (a) intolerance  (b) tolerance  (c) inconsistency  (d) all of the above
            </li>
            <li>The attribute of self reliance includes:  (a) hard work  (b) dedication  (c) vocational training  (d) all of the above</li>
            <li>Integrity means ___.  (a) a good sense of belonging  (b) a good boy  (c) a sense of strong moral standard  (d) to be able to analyze</li>
            <li>Examination malpractice is a form of ___.  (a) value  (b) self reliance  (c) cooperation  (d) civic education
            </li>
            <li> All theses are attributes of a courageous person except ___.  (a) boldness  (b) endurance  (c) commitment  (d) laziness
            </li>
            <li> Which of these is one of the benefits of cooperation?  (a) cooperation leads to team work  (b) there will be no peace in the society  (c) there will be no set goals  (d) none of the above
            </li>
            <li>The exercise of boldness in carrying out a given task in a particular situation of life is ___.  (a) discipline  (b) humility  (c) courage  (d) contentmen</li>
          
        </ol>  
   
                             <h3>Subject: Mathematics</h3>  
                    <ol>
                      <li>	If 3 is added to three quarters of a certain number, the result is 30. Find the original number.  (a) 27  (b) 30  (c) 36  (d) 44</li>
                      <li>Express 32% as a fraction.  (a) 2/25  (b) 4/25  (c) 6/25  (d) 8/25
                      </li>
                      <li>	Each face of a cuboid is in the shape of a.  (a) triangle (b) rectangle  (c) square  9d) circle.</li>
                      <li>Round off the number 0.075 to 1 s.f.  9a) 0.1  (b) 0.7  (c) 0.07  (d) 0.8
                      </li>
                      <li>Write in figures: Fifty three million, eight hundred thousand and thirteen.  (a) 53800013  (b) 5380013  (c) 530813  (d) 538013
                      </li>
                      <li>A straight line joining two points on the circumference of a circle and passing through the center of the circle is called?  (a) chord  (b) diameter  (c) radius  (d) segment
                      </li>
                      <li>Express 55 minutes as a fraction of an hour.  9a) 1/12  (b) 1/6  (c) 5/6  (d) 11/12</li>
                      <li>Express 1.5km in meters.  (a) 1500 meters  (b) 150 meters  (c) 15 meters  (d) 1.5 meters
                      </li>
                      <li>Olumide saves #70 daily. How much will he save in 15 days?  (a) 950  (b) 1050  (c) 1250  (d) 1500</li>
                      <li>The term H.C.F means.  (a) Highest combined fractions  (b) highest common fraction  (c) highest combined factors  (d) highest common factors</li>
                      <li>Given that a = 1, b = 2 and c = 3, find the values of ab – bc.  (a) -11  (b) -4  (c) 4  (d) 11</li>

                    </ol>
              <!-- JSS 2 -->
        <h2>Jss 2</h2>


        <h3>Subject: Mathematics</h3>          
        <p style="padding: 7px;">Solve Correctly</p>
          <ol>
            <li>Draw three (3) types of three – dimensional shapes with their name.</li>
            <li>Give the properties of the following plane shapes; (i) Rectangle  (ii) Scalene triangle  (iii)  Obtuse – angled triangle  (iv) Isosceles triangle  (v)  Parallelogram  (vi)  trapezium.
            </li>
            <li>
              Solve the following equations;  I. 1/10x = 31/2      II. 19 = 16y – 21
            </li>
            <li>
              Solve the following equations    (a)  2(x+4) = 3x – 9    (b) 3y = 1 – y  (c) 1 + 2x = 5x

            </li>
            
          </ol>

          <h3>Subject:  Civic Education</h3>     
          <ol>
            <li>Attributes of contentment includes ___.  (a) satisfaction  (b) encouragement  (c) empowerment  (d) development</li>
            <li>Type of courage is ___.  (a) stubbornness spirit  (b) moral courage  (c) dancing courage  (d) fighting courage</li>
            <li>A courageous person must have all of these qualities except ___.  (a) commitment  (b) endurance  (c) determination  (d) indiscipline
            </li>
            <li>Integrity means ____.  (a) a good sense of belonging  (b) a good boy  (c) to be able analyse  (d) a sense of strong moral standard</li>
            <li>Nigeria is a federation because we have ___ levels of government.  (a) 6  (b) 4  (c) 3  (d) 2
            </li>
            <li>One major effects of lack of contentment is ___.  (a) greediness  (b) satisfaction  (c) humility  (d) honesty
            </li>
            <li>Which is not among the factors that promote good value?  (a) trust  (b) dishonesty  (c) tolerance  (d) integrity
            </li>
            <li>The exercise of boldness in carrying out a given task in a particular situation of life is known as _____  (a) discipline  (b) contentment  (c) courage  (d) humility</li>
            <li>The primary function of the executive is the ___.  (a) interpret law  (b) make law  (c) punish law breakers  (d) implement government policies
            </li>
            <li>Education is the light that removes ___.  (a) fear  (b) right to life  (c) condition  (d) ignorance
            </li>
            <li>The three tiers of government are ____.  (a) federal, legislature, state  (b) state, federal, local government  (c) national, assembly, parliament  (d) legislature, executive, judiciary
            </li>

          </ol>

         
                <!-- Jss3 -->
        <h2>Jss 3</h2>
        <h3>Subject: Mathematics </h3>  
        
        
        <!-- <ol>
          <li>Application software is designed to solve a ______ task (a) television (b) baby’s(c) particular
          </li>
          <li>There are _______ application software (a) 2 (b) 2 (c) 4
          </li>
          <li>Who and who find pleasure in computer game (a) young and old (b) boys and big (c) teachers and students</li>
          <li>A translator is a _______ (a) language (b) program (c) code 
          </li>
          <li>There are _______ types of translator (a) 2 (b) 3 (c) 4

          </li>
          <li>One of the type of data base is _______ (a) utility (b) system (c) flat file
          </li>
          <li>There are _______commonly used number bases (a) 4 (b) 3 (c) 2

          </li>
          <li>Virus is ______ to program (a) helpful (b) harmful (c) good
          </li>
          <li>A box has a square base of side 9cm, calculate the volume\me of the box if it is 10cm high.  (a) 810cm3  (b) 90cm3  (c) 81cm3  (d) 27cm3

          </li>
          <li>	Computer users prepare for vital infection by creating ______ (a) medicine (b) vaccine (c) backups 
      </li>
          <li>______ is not one of the sizes of computer (a) macro (b) micro (c) mini
          </li>
          </ol> -->


          <h3>Subject:  Civic Education</h3>      
          <ol>
            <li>Example of negative behavior is ____.  (a) leadership  (b) followership  (c) cultism  (d) enjoyment</li>
            <li>Population means ____.  (a) number of people living in a country  (b) the act of counting people  (c) the act of taxing people  (d) counting people for employment 
            </li>
            <li>The following are causes of cultism except ___.  (a) parental background  (b) peer pressure  (c) good leadership  (d) exposure to foreign values
            </li>
            <li>The agency in charge of drugs and related offences is known as ___.  (a) PHCN  (b) SSS  (c) EFCC  (d) NDLEA
            </li>
            <li>
              Court where cases are tied according to Islamic laws is called ___.  (a) high court  (b) customary court  (b) court of appeal  (d) sharia court
            </li>
            <li>
              The act of counting the number of people living in a country in order to determine the total number of people in a state is called ___.  
            </li>
            <li>
              The following are types of human right except ___.  (a) right to education  (b) freedom of religion  (c) freedom of association  (d) none of the above
            </li>
            <li>
              The act of counting the number of people living in a country in order to determine the total number of people in a state is called ___.  
            </li>
            <li>Court where cases are tied according to Islamic laws is called ___.  (a) high court  (b) customary court  (b) court of appeal  (d) sharia court
            </li>
           
          </ol>
  

       
                  <!-- SS1 -->
        <h2>SS1</h2>
        <h3>Subject: Government	</h3>  
        
        <ol>
          <li>Democracy means a system of government in which ___.  (a) the majority rules  (b) the minority rules  (c) there is no party system  (d) none of the above</li>
          <li>In a federal system of government are directly responsible.  (a) To the federal or central govt.  (b) To the state govt.  (c) To the federal and state (d) to no other level of govt.
          </li>
          <li>In a presidential system of government, the president is elected to office by ___.  (a) the cabinet  (b) the parliament  (c) the general masses  (d) legislature.</li>
          <li>A state is a special form of human association because it ___.  (a) has a legitimate monopoly of life and death penalties over its citizens  (b) is the richest association in the society  (c) the constitution is by the citizen  (d) has a govt.
          </li>
          <li>Which of the following is not relevant to communism ___?  (a) democracy  (b) private enterprise  (c) violent revolution  (d) class work</li>
          <li>The primary purpose of the state is to ___.  (a) establish a system of law and order  (b) train people to become good citizens  (c) take care of all the needs of the citizens  (d) none of the above
          </li>
          <li>The voluntary activities of members of a society in the selection of rules are known as ___.  (a) political participation  (b) political culture  (c) political socialization  (d) political decision</li>
          <li>A political concept that is composed of the attitude, beliefs, emotions and values of a society is called political.  (a) socialization  (b) authority  (c) culture  (d) power</li>
          <li>In the federation, the purpose of enumerating the powers of the central government is to ____.  (a) ensure efficient administration  (b) ensure greater unity  (c) reduce financial burden of the units  (d) limit its powers against those of the units.
          </li>
          <li>Under which system of government does the state requires ownership and control of means of productions.  (a) capitalism  (*b) socialism  (c) communism  (d) feudalism</li>
          <li>Government is the machinery established to manage the affairs of ___.  (a) rulers  (b) aliens  (c) civil service  (d) state</li>
          <li>A sovereign state is one ___. (a) whose citizen are all military  (b) that takes decision without eternal control  (c) has population  (d) has capital</li>
          <li>One of these is not a feature of a democratic government.  (a) majority rule  (b) minority interest  (c) periodic election  (d) military rule</li>
          <li>Agents of political socialization are as follows except ___.  (a) political party  (b) family  (c) school  (d) none of the above</li>
          <li>A system of government where means of productions are owned and controlled by private individual is called ___.  (a) communism  (b) capitalism  (c) democracy  (d) federalism
          </li>
        </ol>


        <h3>Subject: Further Mathematics	</h3>  

        <ol>
          <li>Solve sin θ = tan θ.  (a) 2000  (b) 900  (c) 600  (d) 00
          </li>
          <li>Given that a5/6 x a-1/n = 1, solve for n.  (a) -6  (b) -1.20  (c)  0.83  (d) 1.20</li>
          <li>Express log 1/8 + log ½ in terms of log 2.  (a) 31 log2  (b) 4log2  (c) -3log2  (d) -4log2
          </li>
          <li>If  √x + √x + 1 = √2x + 1, find the possible values of x.  (a) 1 and -1  (b) -1 and 2  (c) 1 and 2  (d) 0 and -1</li>
          <li>Given that f(x) = 2x3 – 3x2 -11x + 6 and f(x) = 0, factorize f(x).  (a) (x-3)(x-2)(2x+2)  (b) (x+3)(x-2)(x-1)  (c) (x-3)(x+2)(2x-1)  (d) (x+3)(x-2)(2x-1)
          </li>
          <li>If  and  are the roots of the equation 2x2 – 6x + 5 = 0, evaluate / + /.  (a) 24/5  (b) 8/5  (c) 5/8 (d) 5/24</li>
          <li>The fourth term of an exponential sequence is 192 and its 9th term is 6. Find the common ratio of the sequence.  (a) 1/3  (b) ½  (c) 2  (d) 3
          </li>
          <li>Find the range of values of x for which x2 + 4x + 5 is less that 3x2 – x + 2.  (a) x > -1/2  (b) x < -1/2  (c) -1/2  x < 3  (d) -1/2 < x < 3
          </li>
          <li>A particle is acted upon by two forces 6N and 3N inclined at an angle 1200 to each other. Find the magnitude of the resultant force.  (a) 18√3N  (b) 27N  (c) 24N  (d) 3√3N
          </li>
          <li>Calculate the mean deviation of 1,2,3,4,5,6,7,8,9.  (a) 2  (b) 3  (c) 4  (d) 5
          </li>
          <li>If nC3/nC3 = 1, find the value of n.  (a) 8  (b) 7  (c) 6  (d)5</li>
          <li>Which of the following sets is equivalent to (PQ)(PQ1)  (a) P  (b) P)(Q  (c) PQ  (d) </li>
          <li>Solve the inequality x2 – 2x  3.  (a) -1  x  3  (b) x   3 or x  -1  (c) x   3 or x < -1  (d) -1  x < 3
          </li>
          <li>Given that √6,3√3, 3√6, 9√2, … are the first four terms of an exponential sequence (G.P). find, in its simplest form, the 8th term.  (a) 27√2  (b) 27√6  (c) 81√2  (d) 81√6
          </li>
          <li>Given that sin x = - √3/2 and Cos x > 0, find the value of x.  (a) 3000  (b) 2400  (c) 1200  (d) 600</li>
         
        </ol>
       
        <h3>Subject: Further Mathematics	</h3>  
        <ol>
          <li>Which of the following group embraces the rest?  (a) class  (b) kingdom  (c) phylum  (d) species
          </li>
          <li>Which of the following enables the tapeworm to live successfully in the small intestine of a human being?  (a) hooks and sucker for strong attachment  (b) a long neck for forming new prognostic  (c) the absence of segmentation and appendages  (d) possession of flame for excretion
          </li>
          <li>Which of the following characteristics is not possessed by most plants?  Ability to;  (a) move away from stimuli  (b) respire  (c) reproduce  (d) adapt to the environment.
          </li>
          <li>Which of the following indicates that euglena is a plant?  (a) conspicuous eye spot  (b) presence of gullet  (c) limited movement  (d) presence of starch grains</li>
          <li>Flatworm is classified as ___.  (a) platyhelminthes  (b) coelentrata  (c) anelida  (d) nematode
          </li>
          <li>Which of the following organisms possess both plant and animal characteristics?  (a) Amoeba  (b) paramecium (c) Euglena  (d) Mucor
          </li>
          <li>Which of the following plants can be referred as a seed plant?  (a) pteridophytes  (b) gymnosperms  (c) bryophytes  (d) tracheophytes</li>
          <li>Which of these is not a cold blooded animal?  (a) rat  (b) fish  (c) crocodile  (d) toad
          </li>
          <li>A collection of tissues performing a specific function in a living thing is called.  (a) system  (b) cells  (c) tissue  (d) organs</li>
          <li>The current sequence of levels of organization is:  (a) tissues – cells – organs – system  (b) system – tissues – organs – cells  (c) cells – tissues – organs – system  (d) systems – cells – tissues – organs</li>
          <li>Which of the following does not occur during photosynthesis?  (a) energy from sunlight is absorb  (b) carbon dioxide is evolved  (c) glucose is synthesized  (d) oxygen is given off
          </li>
          <li>The first stable product of photosynthesis is;  (a) starch  (b) glucose  (c) oxygen  (d) water</li>
          <li>Which vitamin plays an important role in blood clotting?  (a) vitamin K  (b) vitamin B  (c) vitamin C  (d) vitamin A</li>
          <li>Which of the following reagents is used for the test for starch?  (a) Fehling solution  (b) millions reagent  (c) Sudan III solution  (d) iodine solution</li>
          <li>The efficiency of vitamin D leads to ___.  (a) scurvy  (b) pellagra  (c) rickets  (d) polio
          </li>
          <li>Scorpions, ticks and mites belong to the group.  (a) chilopodia  (b) insect  (c) crustacean  (d) arachinda</li>
          <li>Viviparity occurs mainly in the;  (a) aves  (b) amphibians  (c) mammals  (d) reptiles
          </li>
        </ol>
        

        
        <h2>SS2</h2>
        <h3>Subject: Government	</h3>  
          
        
        <ol>
           <li>A major weakness of one party system is that is ___.  (a) encourage the emergence of dictators  (b) ensures freedom  (c) negates the principle of one man one vote  (d) requires a governor</li>
           <li>Franchise can be best described as a political right to ___.  (a) vote during election  (b) contest election  (c) belong to a political party  (d) vote and be voted for
          </li>
           <li>One of these is a merit of alternative vote system.  (a) represents the interest of many groups in a country  (b) the system is difficult to operate  (c) difficult to ascertain election results  (d) very expensive</li>
           <li>Types of voting are as follows except.  (a) secret voting  (b) compulsory voting  (c) female voting  (d) optional voting
          </li>
           <li>Which one of these is a simple system of voting?  (a) secret voting  (b) compulsory voting  (c) female voting  (d) optional voting</li>
           <li>All but one of these qualifies an adult to vote in an election.  (a) bankruptcy  (b) payment of taxes  (c) registration  (d) citizenship
          </li>
           <li>One can not determine public opinion through.  (a) opinion poll  (b) election  (c) referendum  (d) state</li>
           <li>Public opinion mainly deals with issues of ___.  (a) public importance  (b) personal importance  (c) none importance  (d) none of the above
          </li>
           <li>	One of these is not a party system.  (a) PDP  (b) two party (c) one party  (d) multi-party
          </li>
           <li>A party system where only one party is legally allowed to operate is called.  (a) PDP  (b) two party  (c) one party  9d) multi party
          </li>
           <li>Which of this party system encourages dictatorship?  (a) zero  (b) one party  (c) two party  (d) multi party
          </li>
           <li>The appointment or selection of leaders in a country is easily made possible through.  (a) military  (b) political party  (c) pressure group  (d) civil service
          </li>
           <li>One of these is not a type of political party.  (a) mass  (b) one party  (c) cadre  (d) broker
          </li>
           <li>Coming together of people with the same idea and opinion and interest is called ___.  (a) pressure group  (b) civil servants  (c) political party  (d) trade unions
          </li>
          
           
        </ol>


        <h3>Subject: Biology</h3>  
        <ol>
          <li>The part of the cell solely responsible for respiration is the;  (a) nucleus  (b) nucleolus  (c) mithochondrion  (d) golgibody</li>
          <li>The function of ribosome in cells is;  (a) protein synthesis  (b) starch synthesis  (c) transport of material  (d) lipid storage diagram
          </li>
          <li>Which of the following does a virus have in common with an animal cell?  (a) nucleus  (b) DNA  (c) glycogen  (d) cytoplasm</li>
          <li>Which of the following organelles are likely to be present in cells that are actively respiring and photosynthesizing?  (a) nucleolus and centriole  (b) mitochondrion and chloroplast  (c) lysosome and ribosomes  (d) golgi apparatus and endoplasmic reticulum
          </li>
          <li>The nucleus is considered the central organelles of a cell because it.  (a) contains the genetic material  (b) contains the nuclear sap  (c) is bounded by the nuclear membrane  (d) is located in the centre of the cell</li>
          <li>The fundamental unit of a living organism is the ____.  (a) nucleolus  (b) cell  (c) organ  (d) tissues
          </li>
          <li>Diffusion can be affected by all of the following except;  (a) size of molecules  (b) temperature  (c) state of matter  (d) colour of solution
          </li>
          <li>In osmosis, the stronger solution is said to be ___.  (a) isotonic  (b) hypertonjc  (c) hypotonic  (d) more voluminous
          </li>
          <li>Which of the following organisms exhibits both plant and animal characteristics?  (a) Amoeba  (b) Spirogyra  (c) Mucur  (d) Euglena
          </li>
          <li>The mode of asexual reproduction in spirogyra is;  (a) binary fission  (b) fragmentation  (c) sporulation  (d) budding
          </li>
          <li>The cells division responsible for the production of gametes is called ___.  (a) fragmentation  (b) meiosis  (c) mitosis  (d) sporulation
          </li>
          <li>All the following are types of asexual reproduction except ___.  (a) conjugation  (b) fission  (c) fragmentation  (d) budding
          </li>
          <li>The chromosomes are arranged on the equation during the ___ of mitosis.  (a) metaphase  (b) anaphase  (c) telophase  (d) prophase
          </li>
          <li>The most important thing that occurs during the prophase of meiotic division is;  (a) chiasma formations  (b) migration of the centrioles to the opposite poles  (d) replication of genetic materials
          </li>
          <li>Movement of water across a semi – permeable membrane from a water solution to a stronger solution is known;  (a) transpiration  (b) diffusion  (c) osmosis  (d) plasmalysis</li>
          <li>Which of the following organisms can exist as a colony?  (a) spirogyra  (b) amoeba  (c) volvox  (d) paramecium</li>
        </ol>
        
        <h3>Subject: Further Mathematics  </h3>  
        <ol>
          <li>
            If (x + 2) and (x – 1) are factors of f(x) = 6x4 + mx3 – 13x2 + nx + 14, find the: 
            <ul>
              <li>Values of m and n
              </li>
              <li>Remainder when f(x) is divided by x + 1.</li>
            </ul>
          </li>
          
          <li>The roots of the equation x2 + mx + 11 = 0 are  and, where m is a constant. If  2 + 2 = 27, find the values of m.</li>
          <li>Prove that the sum and product of roots of quadratic equation are –b/a  and c/a respectively.</li>
          <li>Simplify:
            <ol>
              <li>  Tan (-)</li>
              <li>Sin (5400 -  )
              </li>
              <li>Sin 1500 – 5 Cos 3000 + 7 tan 2250</li>
              <li> Tan 1350 + 3 Sin 2100
              </li>
            </ol>
            </li>
          <li>
            In a science class, 18 students read physics, 25 read mathematics, 23 read chemistry, 9 read physics and mathematics, 10 read mathematics and chemistry, and 6 read physics and chemistry. If these were 50 students altogether and 5 students did not read any of the three subjects. How many students read:
            <ol>
              <li>all the three subjects?  </li>
              <li>Only mathematics?</li>
              <li>chemistry but not mathematics?</li>
              <li>Physics and chemistry but not mathematics?</li>
             
            </ol>
          </li>
          <li> Simplify:   4  ˆ-x  x  16ˆ2x – 2
          </li>
          <li> Simplify:  4 ˆ2x – 3  x  128
          </li>
         

        </ol>
  </div>
 
</div>


