.headi{
    text-align: center;
    font-size: 18px;
    color: #F87643;
    font-weight: 800; 
    margin-top: 18px;
}

.secondary{
    padding: 10px;
}
h3{
    text-align: center;
    font-weight: 800;
}

h2{
    background-color: rgb(214, 70, 13);
    font-size: 24px;
    color: white;
    padding:10px;
    font-weight: 800;
}

.butt{
    Padding:7px;
    margin-top: 7px;
    margin-left: 10px;
    margin-bottom: 10px;
}

p{
    text-align: center;
    color: red;
}

.img{
    margin-bottom: 20px;
}


/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    /* Mobile */
    .img{
        width: 100%;
    }

		
}

/* screens resolution */
@media (min-width: 1281px) {
  /* Laptop */
   .img{
       width:70%;
       height: 70vh;
       margin-left: 16%;
   }
    
  }