<div class="col-xs-12">

  <div class="secondary">
<img src="assets/sec.jpg" alt="" class="img">

          <!--JSS1  -->
    <div class="table-responsive">  
             
        <h2>Jss 1</h2> 
        <h3>Subject: English Language</h3>  
        <p>From the options A-D, choose the one that correctly interprets the underlined expressions</p>    
        
        <ol>
          <li>I came out in flying colours. (a) wore colourful clothes (b) walked on red carpet (c) was successful (d) came from colourful jets
          </li>
          <li>conflicting sides should  bury the hatchet (a) plant an axe (b) bury the dead (c) resolve the conflict (d) carry the hatchet
          </li>
          <li>They eat once in a blue moon (a) every time (b) when the moon is blue (c) on rare occasions (d) once a month
          </li>
          <li>	I am afraid the boys are not equal to the task. (a) the boys are few (b) the boys are inexperienced (c) the boys are old enough (d) the boys are unprepared</li>

          <li>The dog with one eyed puppy is my pet. (a) my pet is one eyed (b) my dog is a one-eyed puppy (c) the puppy is one eyed (d) my pet has one puppy
          </li>
          <h3>SPEECH WORK
          </h3>
          <p>SPEECH WORK
            Choose an option that has the same sound as the underlined</p>

            <li>Many. (a) English (b) buns (c) cattle (d) joy</li>
            <li>Think. (a) ringing (b) bomb (c) con (d) key</li>
            <li>Plumber. (a) machine (b) tones (c) sunny (d) donkey</li>
            <li>Broom. (a) good (b) moon (c) full (d) bull</li>
            <li>Fight. (a) eight (b) matted (c) height (d) see
            </li>
          
        </ol>  
   
        
              <!-- JSS 2 -->
        <h2>Jss 2</h2>


        <h3>Subject: English Language</h3>          
        <p style="padding: 7px;">Choose from the alternatives A-D, the one which is NEAREST IN MEANING to the Boldword </p>
          <ol>
            <li>If you are a true friend, you will not <strong>Disclose</strong> a secret. (a) give (b) show (c) keep (d) reveal</li>
            <li>As john waited for the interview, he was very <strong>Nervous.</strong>  (a) sad (b) afraid (c) alarmed (d) uneasy </li>
            <li>Patricia was <strong>Satisfied</strong> with the results of her tests (a) pleased (b) convinced (c) pampered (d) encouragedPatricia was satisfied with the results of her tests (a) pleased (b) convinced (c) pampered (d) encouraged</li>
            <li>The gateman has a <strong>Hostile</strong> attitude (a) harsh (b) strange (c) abusive (d) unfriendly
            </li>
            <li>It was not his <strong>Intention</strong> to hurt his brother. (a) aim (b) decision (c) interest (d) ambition  </li> 
            <p>Choose from the alternatives A-D, the one which is OPPOSITE IN MEANING to the Boldword</p>
            <li>The doctor warned him against <strong>Anxieties.</strong> (a) worries (b) fear (c) pain (d) excitement
            </li>
            <li>To the poor, cars should not be seen as <strong>Luxury. </strong> (a) commodity (b) property (c) necessity (d) possession 
            </li>
            <li>He was one of the <strong>Affluent</strong>  men in the town. (a) rich (b) indigent (c) diligent (d) intelligent</li>
            <li>No one  <strong>Notorious</strong> shall remain. (a) famous (b) honorable (c) skillful (d) popular
            </li>
            <li>As the sun <strong>Appeared,</strong>  the clouds (a) vanished (b) defrosted (c) dissolved (d) busted            </li>
          </ol>

          <h3>Subject:  Civic Education</h3>      
          <table class="table table-hover" >
            <thead>
              <tr>
                <th>Week</th>
                <th>Topic</th>
                
                <th class="table-bordered">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Election and vote responsibility
                </td>
                
              </tr>
  
              <tr>
                <td>2</td>
                <td>Election and vote responsibility
              </td>
             
              </tr>
              <tr>
                  <td>3</td>
                  <td>Qualification for election
                </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td> Electoral Malpractices </td>
                </tr>
                 
                <tr>
                  <td>5</td>
                  <td> Electoral Malpractices
                  </td>
                </tr>
  
                <tr>
                  <td>6</td>
                  <td> Nigerian constitution 
  
                </td>
                </tr>
                <tr>
                  <td>7</td>
                  <td> Solution to electoral Malpractices 
  
                </td>
                </tr>

                <tr>
                  <td>8</td>
                  <td>	Held work Excursion </td>
                </tr>
                <tr>
                  <td>10</td>
                  <td> Revision and examination
                </td>
                </tr>
            </tbody>
          </table>

                <!-- Jss3 -->
        <h2>Jss 3</h2>
        <h3>Subject: Computer </h3>  
        
        
        <ol>
          <li>Application software is designed to solve a ______ task (a) television (b) baby’s(c) particular
          </li>
          <li>There are _______ application software (a) 2 (b) 2 (c) 4
          </li>
          <li>Who and who find pleasure in computer game (a) young and old (b) boys and big (c) teachers and students</li>
          <li>A translator is a _______ (a) language (b) program (c) code 
          </li>
          <li>There are _______ types of translator (a) 2 (b) 3 (c) 4

          </li>
          <li>One of the type of data base is _______ (a) utility (b) system (c) flat file
          </li>
          <li>There are _______commonly used number bases (a) 4 (b) 3 (c) 2

          </li>
          <li>Virus is ______ to program (a) helpful (b) harmful (c) good
          </li>
          <li>A box has a square base of side 9cm, calculate the volume\me of the box if it is 10cm high.  (a) 810cm3  (b) 90cm3  (c) 81cm3  (d) 27cm3

          </li>
          <li>	Computer users prepare for vital infection by creating ______ (a) medicine (b) vaccine (c) backups 
      </li>
          <li>______ is not one of the sizes of computer (a) macro (b) micro (c) mini
          </li>
          </ol>


        <h3>Subject: Civic Education</h3>      
        <table class="table table-hover" >
          <thead>
            <tr>
              <th>Week</th>
              <th>Topic</th>
              
              <th class="table-bordered">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Election; Meaning and types
              </td>
              
            </tr>

            <tr>
              <td>2</td>
              <td>Importance of election
            </td>
           
            </tr>
            <tr>
                <td>3</td>
                <td> Electoral Bodies in Nigeria; INEC, SIEC, Composition and roles

              </td>
              </tr>
              <tr>
                <td>4</td>
                <td> Free fare elections: Meaning and importance


              </td>
              </tr>
               
              <tr>
                <td>5</td>
                <td>Electoral Malpractices in Nigeria: Meaning forms and causes 


              </td>
              </tr>

              <tr>
                <td>6</td>
                <td> Ways of preventing electoral malpractices in Nigeria 

              </td>
              </tr>

              <tr>
                <td>7</td>
                <td> 	Democratic process: voting, Voters registration, process of voting, importance of voting


              </td>
              </tr>
              

          </tbody>
        </table>

       
                  <!-- SS1 -->
        <h2>SS1</h2>
        <h3>Subject:  Economics			</h3>  
        
        <ol>
          <li>What is production 
          </li>
          <li>Explain the stages of production 
          </li>
          <li>Explain efficiency of labor (2mark)
          </li>
          <li>Define economics </li>
          <li>explain why economics is a science </li>
          <li>From the set of data 
            2, 4, 5, 7, 10, 12, 6, 18, 12, 4, 3, 4
            <ul>
              <p>Calculate</p>
              <li>Mean</li>
              <li>Mode</li>
              <li>Median</li>
            </ul>
          </li>

          <li>The quantity of fruit consumed by a set of four student in January 2018 with the total number of fruit is 720 they consume 
            <ul>
              <li>Orange 			200</li>
              <li>Banana			140</li>
              <li>Carrot			240</li>
              <li>Mango			80</li>
              <li>Tangerine		60</li>
              I.	present the information on pie-chart
              II.	calculate the original number of consumed fruit
              
            </ul>
          </li>
          <li>Write out all the basic tools in economics analysis  </li>
          <li>Explain with example (ii) the scale of preference (ii) opportunity cost</li>
         
        </ol>


       

        

        
        <h2>SS2</h2>
        <h3>Subject: Economics	</h3>  
          
        
        <ol>
            <li>Explain the following
              <ul>
                <li> Principle of trade.</li>
                <li>Terms of trade</li>
                <li> Balance of payment.</li>
                <li>Absolute advantage.
                </li>
              </ul>
            </li>
            <li> Explain the economy of Asians tigers.</li>
            <li> What lesson can Nigeria learn from the Asians tiger?
            </li>
            <li>what is service industry.</li>
            <li>State four contribution of service industry
            </li>
            <li>Differentiate between manufacturing and constructing industry</li>
           
        </ol>



        
  </div>
 
</div>


