<div class="col-xs-12">

  <h2 class="headi"> CONTACT US </h2> 

      
 <div>
   <img src="assets/1.jpg" alt="learn" style="width:100%; margin-top: 14px;">   
 </div>

 <div class="row">
<div class="card" style="width: 21rem; margin-top: 40px; margin-bottom: 10px; margin-left: 30px; padding: 10px; background-color: bisque; font-size: 25px;">
  <h6> Kindly Submit your Answer on whatsapp to:
    <br>
    Success House College whatsapp group
  </h6>
  <a href="https://chat.whatsapp.com/HtgxDik50mlKBX9OXoylKC"> <img src="assets/what.png" style="width:35%; height:12vh; margin-left:-25px;"> </a>
</div>
 </div>
 

<div class="row">
  <div class="card" style="width: 21rem; margin-top: 40px; margin-bottom: 70px; margin-left: 30px;">
    <div class="card-header" style="color: #20c997;">
     Contact Us
    </div>
    <ul class="list-group list-group-flush" >
      <li class="list-group-item"><span class="material-icons" style="color:#20c997;">call</span> &nbsp;<span> Tel: 2348023327995, 2348038325943</span> </li>
      <li class="list-group-item"> <span class="material-icons" style="color:#20c997;">location_on</span> &nbsp; Adderess: <span>18/21 Olorunisola colse, <br> alagbado Lagos State.</span></li>
      <li class="list-group-item"> <span class="material-icons" style="color:#20c997;">mail_outline</span> &nbsp; Email: Successhouse@gmail.com</li>
      <li class="list-group-item"> </li>

    </ul>
  </div>
</div>



