<div class="col-xs-12">
    <h2 class="headi"> Parental Control </h2> 
    <div class= "card mb-3 mt-3" >
       <p style="padding: 7px;"> A kid's education starts from home. parents are the first teachers and they have a key role in shaping theri character in light of this we appeal to the parents for their full support and coperation by </p>
        <ol style="color: red; font-size:15px; font-weight: 400;">  
           
            <li> Providing a pleaseant environment for learning </li>
            <li> Oversee the classwork activities  </li>
            <li> Assist your children or wards with their homeworks   </li>
        </ol> 
    </div>
    
    
    
    <div class="card mb-3 mt-3">
        <div class="card-body">
            <h6 class="card-title"><strong style="font-size: 14px;"> The Role of Parents in the Education of Children </strong> </h6>
            <p>
                The involvement of parents in the development and education of their children has
                become a topic of interest to policy makers and others who are in positions to make decisions
                about educational practices, including parents,guardians and politicians. Over
                the years, the investigation of the factors that influence the academic performance of students has
                attracted the interest and concern of educators. Educational researchers, including Clark (1983),
                Ajala and Olutola (2007), and Pomerantz, et al. (2007), have all argued on both home-based and
                school-based parental participation
            </p>
            <ol> 
                <li class="card-text">
                   <strong> Fathering  </strong> 
                </li>
                <p>
                         In assessing the influence of the structural integrity of the home, Tenibiaje’s study (2009)
                showed that the structural integrity of the homes shows a strong relation to achievement for the
                child. When a father is present in the home as expected, he is able to contribute positively to 
                34
                parental roles in the education of the children, but absent fathers may not fulfill this
                responsibility as expected. The father’s presence, physically and emotionally, can have a great
                influence on the personality development of the child. With the presence of the father, many
                behavioral problems of youth, such as aggressiveness, apathy, and poor performance, can be
                nipped at the bud.
                    Makinde (2010) highlighted that love, time, and attention seem a rarity because most
                fathers are excessively devoted to work, which is a factor that could prevent effective parental
                involvement. They go out early in the morning and come back late in the evening. This continues
                without end. The presence of fathers in a child’s life cannot be underestimated because it shows
                that they have a very important role to play in the education of their children, 
                </p>
                <div>
                    <li class="card-text">
                     <strong> The mother as an educator </strong>   
                    </li>
                    <p>Talking about mothering is very relevant to the quality of successful parenting when
                        describing the roles parents play in the education of their children. Although mothering, more
                        often than not, occurs in contexts that vary in terms of material and cultural resources or
                        constraints, according to Paxson (1998), mothering is natural, unchanging, and universal. It is a
                        biological role that can only be carried out by one person, the natural mother. He further argues
                        that every mother at first preserves life, protects the child, fosters growth, and molds the child
                        into an acceptable person in the society. This role forms the bulk of a child’s personality
                        development. Because mothers have the power to give life and sustain it through their motherly
                        love and actions</p>
                </div>
            </ol>
            <p style="float: right;"> - Ajayi Olumide.</p> <br>
            <span class="date" style="float: right; margin-right: -26%;"> {{myDate | date:'short'}}</span>
            
          </div>
    </div>
 </div>
