<div class="col-xs-12">
    <h2 class="headi"> Parental Control </h2> 
    <div class= "card mb-3 mt-3" >
       <p style="padding: 7px;"> A kid's education starts from home. parents are the first teachers and they have a key role in shaping theri character in light of this we appeal to the parents for their full support and coperation by </p>
        <ol style="color: red; font-size:15px; font-weight: 400;">  
           
            <li> Providing a pleaseant environment for learning </li>
            <li> Oversee the classwork activities  </li>
            <li> Assist your children or wards with their homeworks   </li>
        </ol> 
    </div>
    
    
    
    <div class="card mb-3 mt-3">
        <div class="card-body">
            <h6 class="card-title"><strong style="font-size: 14px;"> Top 10 Parenting Tips On Improving Parenting Skills </strong> </h6>
      
      <img src="assets/pp.png" alt="parenting" class="img">      
            <p style="float: right;"> - Ajayi Olumide.</p> <br>
            <span class="date" style="float: right; margin-right: 26%;"> {{myDate | date:'short'}}</span>
            
          </div>
    </div>
 </div>
