<div class="col-xs-12">

    <h4 style="margin-left: 10px; font-size:14px;">Kindly Click on the button below to fill your Contact form</h4>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLScFQsOqCn2PODtQ43nErMdqLXc7J7gy5eHKAnLT_OWdXu9y0A/viewform?embedded=true"> <button class="btn btn-success butt">Click Here</button> </a>
   
                    <!-- Basic 1 -->
<div class="card">
  <h3> Correction to the class-work</h3> 
 <video width="320" height="240" controls>
 <source src="assets/12.mp4" type="video/mp4">
 <!-- <source src="movie.ogg" type="video/ogg"> -->
 Your browser does not support the video tag.
</video>   
</div>
             
  <h2>CLASS: BASIC 1	</h2>
  <div class="card">
        <h3>SUBJECT: SOCIAL STUDIES </h3>
      <ol>
          <li>It is important to keep our environments (a) dirty (b) clean</li>
          <li>A clean environment helps people to live a (a) healthy life (b) lazy life</li>
          <li>Dirty causes _________ to her body (a) sickness (b) happiness</li>
          <li>Refuse are otherwise called _________ (a) Waste materials (b) good materials</li>
          <li>We must sweep our surrounding (a) regularly (b) once in a month
        </li>
          <li>We must clear all the bushes around us (a) yes (b) no </li>
          <li>Home Appliances are the equipment being used in the ________ (a) school (b) house</li>
          <li>_________ is a way of showing respect to people (a) greeting (b) playing (c) singing</li>
          <li>_______ is a way of greeting (a) sitting (b) prostrating
        </li>
          <li>Shaking of hands is another ________ of greeting (a) crime (b) name (c) way
        </li>
      </ol>
  </div>
                <!-- basic 2 -->
  <h2>CLASS: BASIC 2 </h2>

  <div class="card">
    <h3>SUBJECT: SOCIAL STUDIES </h3>

    <ol>
        <li>_________ is a substance used in a medicine (a) Alabukun (b) Drug (c) Storage
        </li>
        <li>One of these is an example of common drugs (a) Paracetamol (b) Tobacco (c) Lemon grass </li>
        <li>One of these is a natural drug (a) Tobacco (b) Alabukun (c) Panadol
        </li>
        <li>Panadol is an example of common drugs (a) True (b) False
        </li>
        <li>________ is taking of substances that are wrong or harmful to the body (a) Drug abuse 	(b) Drug user (c) Drug
        </li>
        <li>Drug can be _________ (a) Swallowed (b) Thrown away (c) Play with
        </li>
        <li>A sick person needs to see __________ (a) Herbalist (b) Ritualist (c) Doctor</li>
        <li>We can consult the following doubt of drugs except ________ (a) Doctor (b) Parent 
            (c) Mad people
        </li>
        <li>Keep drug out of the reach of children (a) True (b) False</li>
        <li>We need to be sure of _______ before taken (a) Money (b) Drug (c) Sand</li>
    </ol>
  </div>
                <!-- basic 3 -->
  <h2>CLASS: BASIC 3	</h2>
  <div class="card">
    <h3>SUBJECT: VERBAL REASONING </h3>
    <p>Choose one word which is a general term which describes what the other are </p>
    <h5>Example    (a) Tiger   (b) Elephant (c) Leopard <span>(d) Animal</span>  (e) Snake</h5>

    <ol>
        <li>(a)Orange  (b) Apple  (c) Guava(d)Fruit (e) Cherry</li>
        <li>(a) Tool (b) Hoe (c) Cutlass (d) spade (e) Rake
        </li>
        <li>(a) Sunflower (b) Hibiscus (c) flamboyant (d) flower</li>
        <li>(a)parrot (b)duck (c) Eagle (d) pigeon (e) bird
        </li>
        <li>(a)Maize (b)Grain (c) Millet (d) Wheat (e) Guinea – corn
        </li>
        <p>Find the words which rhymes with the word in capital letter.
        </p>
        <li>(a)Wrist (b) Fast (c) Dust (d) First (e) Sandy</li>
        <li> SIN: to make a success ______ (a) Win (b) Pin (c) Learn (d) Fin (e) Bin
        </li>
        <li>  BACK: a colour like ________ (a) Rack (b) Jack (c) Dark (d) Sack (e) Black</li> 
        <li> HOUSE: a small furry animal with long tail _____ (a) Dice (b) Wise (c) Spice (d) Mouse (e) Louse</li>
        <li> PUNCH: a meal eating at about the middle if the day ______ (a) Punk (b) Lunch (c) Church (d)Breakfast (e) Pork </li>
        <li> BOX: a wide animal with bushy tail _____ (a) Pox (b) Fox (c) boss (d) force (e) dose
        </li>
    </ol>
  </div>

                <!-- Basic 4 -->
  <h2>CLASS: BASIC 4	</h2>
  <div class="card">
    <h3>SUBJECT: VERBAL REASONING </h3>
    <ol>
      <li>How many letters are there in the English Alphabet?________
    </li>
      <li>The letters are grouped as vowels and _________
    </li>
      <li> How many vowels are there?________
    </li>
      <li>How many consonants are there?_________</li>
      <li>Write out the vowels_________
    </li>
      <li>Write out the vowels __________</li>
      <li>Is the fifth letter of the alphabet a consonant or a vowel?</li>
      <li>How many vowels are in “ DICTIONARY”</li>
      <li>Is the last letter of the alphabet a consonant or a vowel? --------</li>    
    </ol>  
  </div>

             <!-- Basic 5 -->
  <h2>CLASS: BASIC 5	</h2>
  <div class="card">
    <h3>SUBJECT: VERBAL REASONING </h3>
    <p>What is the group name?
    </p>
    <ol>
        <li> (A) president (b) emperor (c) king (d) rulers (e) chief
        </li>
        <li>(A) watermelon (b) strawberry (c) fruit (d) apple (e) grape </li>
        <li>(A) vegetable (b) okro (c) tomato (d) lettuce (e) cucumber
        </li>
        <li>(A) triangle (b) shapes (c) square (d) circle (e) rectangle
        </li>
        <li>(A) rice (b) food (c) yam (d) beans (e) egg 
        </li>
        <p> Choose from the words in the option below, the one that most suitably fill in the space </p>
        <li>Ship and harbor, car and _______ (a) road (b) garage (c) station (d) pool
        </li>
        <li>dog and puppy, lion and _______(a) ewe (b) chick (c) cub (d) piglet</li>
        <li>Pupils and pen, tailor and _______ (a) chalk (b) hoe (c) table (d) needle 
        </li>
        <li>Hoof and horse, paw and ____ (a) goat (b) rat (c) elephant (d) dog
        </li>
        <li>Black and white up and ____ (a) down (b) short (c) low (d) full</li>
    </ol>
  </div>
            <!-- Basic 6 -->
  <h2>CLASS: BASIC 6	</h2>
  <div class="card">
    <h3>SUBJECT: HOME ECONOMICS  </h3>

    <ul>
        <li>_______ is an act of making people happy and comfortable (a) establishment (b) introduction (c) entertainment (d) encouragement</li>
        <li>	_______ are friends or people who visit us (a) ghost (b) guests (c) pests (d) costs</li>
        <li>Food preservation is the art of keeping food for ultimate use in the future True/False
        </li>
        <li>Food are preserved to prevent scarcity when _________ (a) wicked (b) stated (c) needed (d) lasted</li>
        <li>Preservation of food keeps their ________ intact (a) pleasure (b) status (c) nutrients (d) pressure </li>
        <li>There are _____ main methods of food storage (a) seven (b) three (c) two (d) four
        </li>
        <li>The two main methods of food preservation are traditional method and ________ method (a) class (b) school (c)modern (d) current
        </li>
        <li>Yams are stored in ______ (a) wallets (b) barns (c) shoes (d) crosses
        </li>
        <li>Meat and _____ are smoked to prevent them from getting spoilt. (a)water (b) sand (c) fish (d) paper</li>
        <li>Smoking method of food preservation is a method of using _______to preserve foods. (a)water (b) sand (c) fire (d) colour</li>
    </ul>

  </div>