<div class="col-xs-12">
<div class="primary">
  <img src="assets/pri.jpg" alt="stay Safe" class="img">
                    <!-- Basic 1 -->
<!-- <div class="card">
  
  
  <h3> Correction to the class-work</h3> 
  <h4>Mrs Abiodun</h4>
 <video width="320" height="240" controls>
 <source src="assets/12.mp4" type="video/mp4">
   <source src="movie.ogg" type="video/ogg"> 
 Your browser does not support the video tag
</video>   
</div> -->
             
  <h2>CLASS: BASIC 1	</h2>
  <div class="card bg-info text-white">
        <h3>SUBJECT: English </h3>
        <p>Choose the correct option from the option given.
        </p>
      <ol>
          <li> I have never ______ any things like this before (a) taste (b) tasting (c) tasted</li>
          <li> They ______ here last week. (a) Waited (b) wasting (c) waster</li>
          <li> The man who stole my money has been ________ (a) arresting (b) arrested (c) arrest</li>
          <li>The plural of mango is ________ (a) mangos (b) mango (c) mangoes
          </li>
          <li>  _________ is the plural of body (a) bodies (b) body’s (c) bodes
        </li>
          <li>  The plural of fly is ________ (a) flies (b) fly (c) fly’s </li>
          <p> Underline the correct verbs in the brackets.</p>
          <li> She (has, here) a car
          </li>
          <li>  You (is, are) late again
          </li>
          <li> She (are, is) my friend
        </li>
          <li> My mother (had, is) a nurse
        </li>
      </ol>
  </div>
                <!-- basic 2 -->
  <h2>CLASS: BASIC 2 </h2>

  <div class="card bg-primary text-white">
    <h3>SUBJECT: Mathematics </h3>

    <ol>
        <li>  10 + 6 =  (a) 16 (b) 166 (c) 6)
        </li>
        <li> 20 + 5 =  (a) 25 (b) 52 (c) 5</li>
        <li>80 + 9 =  (a) 9 (b) 98 (c) 89
        </li>
        <h4> Write in words        </h4>
        <li> 35 =
        </li>
        <li> 20 =
        </li>
        <li> 15 =
        </li>
        
    </ol>
  </div>
                <!-- basic 3 -->
  <h2>CLASS: BASIC 3	</h2>
  <div class="card bg-secondary text-white">
    <h3>SUBJECT:  Vocational Aptitude    </h3>
    
    <ol>
        <li>An engineering designs and build such structures as dams, highways, railroads, factories and _______ (a skyscrapers b) sky workers (c) sky players (d) sky loaders
        </li>
        <li>Engineering plans and constructs plant such as ______ refineries	 (a) water (b) hot (c) oil (d) dust
        </li>
        <li>Engineers made the necessary ________	 (a) resigns (b) designs (c)options (d) questions
        </li>
        <li>Catering is the preparation and provision of _____ (a)encouragements (b) refreshments (c) establishments (d) inducements
        </li>
        <li>Teaching is part of everyday _______ (a) night (b)life (c) work (d) way
        </li>
        <li>An important part of the teacher’s task is to stimulate ______ (a) fighting (b) thinking (c) drinking (d) dancing
        </li>
        <li> A ______ is a man or woman who represents members of the public in a court of law. (a) lawyer (b) tailor (c) teacher (d) driver
        </li>
        <li> A person who seeks the services of a lawyer is called _____ (a) patient (b) parent (c) client (d) tenant</li> 
        <li> The instrument of authority used in court to bring order is called _______ (a) garment (b)gabbage (c) gallic (d) gavel</li>
       
    </ol>
  </div>

                <!-- Basic 4 -->
  <h2>CLASS: BASIC 4	</h2>
  <div class="card bg-success text-white">
    <h3>SUBJECT: Vocational Aptitude</h3>
    <ol>
      <li>A machine is a device that does ______ (a) call (b) talk (c) work (d) play

    </li>
      <li>Machines are based on six types of ______ machine (a) weak (b) rough (c) draw (d) simple
    </li>
      <li> The lever is made up of three components such as effort, fulcrum and ________ (a) rose (b) load (c) throw (d) plot
    </li>
      <li>The _______ consists of wheel with a grooved rim over which a rope is passed. (a) pulley (b) trolley (c) molley (d) slot</li>
      <li>Inclined planes make it easier to slide or skid a load upward than to lift it directly. True/False
    </li>
      <li>The screw is a spiral inclined _______ (a) frame (b) plane (C) flame (d) same
      </li>
      <li>Microscope is an instrument that magnifies extremely small ______ so that they can be seen easily. (a) objects (b) projects 
      </li>
      <li>Physicians and other _____ use microscope to examine such specimen as bacteria and blood cells (a)tailor (b)masons (c) carpenters (d) scientists
      </li>
      <li>______ is a piece of iron which attracts iron (a) maggot (b) ballot (c) carrot (d) magnet</li>   
      <li>Engineering is the art and science of using power and materials most effectively in ways which are valuable to man. True/false
      </li> 
    </ol>  
  </div>

             <!-- Basic 5 -->
  <h2>CLASS: BASIC 5	</h2>
  <div class="card bg-warning text-white">
    <h3>SUBJECT: Civic Education</h3>
   
    <ol>
        <li> The national honour award was established in (a) 1960 (b) 1963 (c) 1964 (d) 1965

        </li>
        <li>The national honours awarded is categorized into _________ order of dignity (a) 1 (b) 2 (c) 3 (d) 4</li>
        <li>One the following is a reason for rewarding national honours (a)reward for fighting (b) reward for theft (c) reward for hard working

        </li>
        <li>Who give national honours award for people (a) local Govt (b) state Govt (c) federal Govt
        </li>
        <li>Citizen who are awarded these honour become recognize as a special (a) thief (b) political (c) citizen (d) non –above
        </li>
        <li>GCFR means _____________________
        </li>
        <li>GCON means _____________________</li>
        <li>CFR means ______________________
        </li>
        <li>CON means ______________________
        </li>
        <li>OFR means ___________________</li>
    </ol>
  </div>
            <!-- Basic 6 -->
  <h2>CLASS: BASIC 6	</h2>
  <div class="card bg-dark text-white">
    <h3>SUBJECT:  BASIC SCIENCE  </h3>

    <ul>
        <li>The soil provides water, air, organism and dead organic material for ________ (a) plant (b) life (c) staff (d) colour</li>
        <li>There are _______different types of soil (a) 2 (b)1 (c) 4 (d) 3</li>
        <li>Loamy is the richest types of ______(a) water (b) soil (c) fire (d) sawdust
        </li>
        <li>The following are the constituents of soil except ______ (a) air (b) water (c) minerals (d) sawdust</li>
        <li>The following are the three main types of soil except _____ (a) loamy soil (b) clay soil (c) sandy soil (d0 prime soil</li>
        <li>Soil profile is the layers to which soil is _____ (a) underline (b) divided (c) added (d) subtracted

        </li>
        <li>Soil texture is how a soil types feels when handled. True/false
        </li>
        <li>Soil Structure refers to the manner in which soil particles come together to form clumps. True/false
        </li>
        <li>Soil is the topmost layer of the _______ (a) wave (b) wind (c) sky (d)earth
        </li>
        <li>______ are living things, so they need food and water to grow. (a) dusts (b) plots (c) counts (d) plants
        </li>
    </ul>
 
</div>
 
  </div>