<div class="col-xs-12">

    <h4 style="margin-left: 10px; font-size:14px;">Kindly Click on the button below to fill your Contact form</h4>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLScFQsOqCn2PODtQ43nErMdqLXc7J7gy5eHKAnLT_OWdXu9y0A/viewform?embedded=true"> <button class="btn btn-success butt">Click Me.</button> </a>
    <div>
        <h2>Primary</h2>
        <h3>Subject: English Language</h3>  
        <p style="padding: 7px;">
            Cerys sat in the kitchen on Friday morning and stared out of the window.
The winter sun stared back at her and warmed her cheeks. But this didn’t
make Cerys feel happy.
It was a frosty December morning and she had been waiting for a long,
long time.
It didn’t come every year, but it was supposed to come this year.
She had her sledge, hat and gloves ready. But she was getting impatient.
Still the snow hadn’t come. Where was it?
“Staring out of the window won’t make it
snow any quicker. I’m sure it will be here
soon. Don’t worry,” Mum said patiently.
“It’s taking ages!” Cerys snapped back.
“I just want to go sledging. And I want to
build a snowman with Harvey from next 
        </p>
        <h3>Questions</h3>
        <ol>
            <li>What was Cerys waiting for?</li>
            <li>What did Cerys get ready before playing outside?</li>
            <li>Find and copy one word which shows that Cerys had waited a long
                time for the snow.</li>
                <li>In the morning, everything looked different outside.
                    Draw three lines to show what had happened overnight</li>
        </ol>
    </div>

    
</div>



