
    

        <div class="col-xs-12">

        <h2 class="header">SUCCESS SCHOOLS Covid19 TUTORIAL CENTER </h2> 

        <div>
          
          <p class="date"> {{myDate | date:'EEEE h:mm a L LLLL yyyy'}}</p>
        </div>
            
       <div>
         <img src="assets/0.jpeg" alt="Los Angeles" style="width:100%; margin-top: 14px;">   
       </div>
       
      
<div class="row">
    <p class="welcome">
         At Success schools we are committed to raising super stars through moral and academic excellence. 
         Inline with our vision, we have come up with an E-learning program which is an altrnative to the classroom teaching where the students are able to learn at the comfort of their homes due to the corona virus pandemic. <br>
         We encourage all parents and guardians to please ensure thier children and wards are involved and the modality is as follows: <br>
         
    </p>

    <ul style="font-size: 14px; color: #20c997;">
      <li> All classses start by 10am and end by 1pm daily </li>
      <li> All classworks are expected to be submitted within this time  </li>
      <li>  And all assignments are to be submitted on or before the next day.</li>
    </ul>
    
</div>


  <div>
    <img src="/assets/sani.jpg" alt="Warning" style="width: 80%;padding: 10px; margin-left: 10%;">
  </div>
</div>
  



