<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
   
    
    <ul class="navbar-nav  navbar-right">
      <li class="nav-item">
          <a class="nav-link">Primary </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" > Secondary</a>
      </li>
    </ul>
  </nav> -->

    

    <div class="container">
        <div class="col-xs-12">

        <h2 class="header">SUCCESS SCHOOLS Covid19 TUTORIAL CENTER </h2> 

        <div class="nav">
          <button class="btn btn-success">Primary</button>
          <button class="btn btn-success">Seconadry</button>
          <button class="btn btn-success">Contact us</button> 
        </div>
         
       <div>
         <img src="assets/0.jpeg" alt="Los Angeles" style="width:100%; margin-top: 14px;">   
       </div>
       
      
<div class="row">
    <p class="welcome">
         How do you want your children to spend their time during the long holidays? Is it all fun and no work or is it all work and no fun? Well, Learn@ease offers a perfect combination of both, and much more. In addition to an all-engaging academic program, students are taught entrepreneurship and life skills. They also learn to play many indoor and out-door games.
        At the end of our holiday program, the students would have covered many topics that they would meet in their new classes the coming academic year.
    </p>
</div>
<footer class="foot"> <p>Success Schools Copyright © 2008 -2020. </p></footer>
                                                                                                                                                                                         
</div>
   
</div>
  



